{% extends 'base.html.twig' %}

{% block title %}Créer une sortie{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="button" id="create" name="action_button" value="create" type="submit">Enregistrer</button>
    <button class="button" id="publish" name="action_button" value="publish" type="submit">Publier La Sortie</button>
    <a class="button" href="{{ path('sortie_index') }}">Annuler</a>
    {{ form_end(form) }}

    <div id="modalLieu" class="hidden"></div>
{% endblock %}
